@font-face {
    font-family: 'SAIGON1985';
    src: url(../font/SAIGON1985.ttf);
}
/* Responsive */
* {
  box-sizing: border-box;
}

body, html{
    background: url(../imgs/VINTAGE_GRUNGE_BACKGROUND.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'SAIGON1985';
    color: whitesmoke;
    width: 90%;
    margin: auto;
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: goldenrod;
    font-size: 36px;
}
.font-SAIGON1985{
    font-family: 'SAIGON1985';
}

.font-roboto {
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings: "wdth" 100;
 }
 .corinthia-regular {
   font-family: "Corinthia", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .corinthia-bold {
   font-family: "Corinthia", serif;
   font-weight: 700;
   font-style: normal;
 }
 .vt323-regular {
   font-family: "VT323", serif;
   font-weight: 400;
   font-style: normal;
 }
.text-center{
   text-align: center;
}  
/* Responsive header */
.header{
   overflow: hidden;
   text-align: center;
}

/*Tab*/
/* Style tab links */
.tablink {
  font-family: 'SAIGON1985';
  color: #F1DEC6;
  background: none;
  border:  3px solid goldenrod;
  border-radius: 20px 20px 0 0;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tablink:hover {
  background-color: #A02334;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .tablink{
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  body {
    padding: 60px 10px;
  }
  .tablink{
    width: 100%;
  }
}
@media only screen and (min-width: 768px){
  .tablink{
    width: 16%;
  }
}