@font-face {
    font-family: 'SAIGON1985';
    src: url(../font/SAIGON1985.ttf);
   }
body, html{
    background: url(../imgs/VINTAGE_GRUNGE_BACKGROUND.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'SAIGON1985';
    color: whitesmoke;
    width: 80%;
  margin: auto;
}
h1, h2, h3, h4, h5, h6{
    color: goldenrod;
}
.font-SAIGON1985{
    font-family: 'SAIGON1985';
}

.font-roboto {
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings: "wdth" 100;
 }
 .corinthia-regular {
   font-family: "Corinthia", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .corinthia-bold {
   font-family: "Corinthia", serif;
   font-weight: 700;
   font-style: normal;
 }
 .vt323-regular {
   font-family: "VT323", serif;
   font-weight: 400;
   font-style: normal;
 }
.text-center{
   text-align: center;
}  
/* Responsive header */
.header{
   overflow: hidden;
   text-align: center;
}