body{
    font-family: "Tilt Neon", serif; 
    background-color: rgba(73, 137, 118, 0.5);
    hei
}
.tilt-neon-font {
    font-family: "Tilt Neon", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}