body, html {
    font-family: "Tilt Neon", serif; 
    background-color: rgba(73, 137, 118, 0.5);
    height: 100%;
    margin: 0;
}

.tilt-neon-font {
    font-family: "Tilt Neon", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}
/*responsive*/
.responsive{
    width: 100%;
    height: auto;
}
.row::after{
    content:'';
    clear: both;
    display: table;
}
[class*="col-"]
{
    float: left;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Style the links inside the sidenav */
#mySidenav a{
 position: absolute;  /* Position them relative to the browser window */
 left: -120px; /* Position them outside of the screen */
 transition: 0.5s; /* Add transition on hover */
 padding: 15px;
 width: 120px; /* Set a specific width */
 text-decoration: none;  /* Remove underline */
 font-size: 20px;
 color: floralwhite;
 border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}
/* The about link: 20px from the top with a green background */
#about{
    top:20px;
    background-color: lightcoral;
}
#projects{
    top:80px;
    background-color: forestgreen;
}
#contact{
    top:140px;
    background-color: Indigo ;
}
#login{
    top:200px;
    background-color: LightBlue;
}
/*Hero image*/
.hero-image{
    display: flex;
    flex-direction: column;
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/DSC_0427.JPG");

    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
.hero-text {
  text-align: center;
  color: floralwhite;
  font-size: 20px;
}
/*Typewriter Effect*/
.typewriter h1{
    overflow: hidden;/* Ensures the content is not revealed until the animation */
    border-right: .15em solid darkorange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 5s steps(40, end),
        blink-caret .75s step-end infinite;

}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: darkorange; }
}
/*Animate button*/
.hero-text button {
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
}
.hero-text button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}
.hero-text button span:after{
    content:'\00bb';
    position: absolute;
    opacity: 0;
    top:0;
    right: -20px;
    transition: 0.5s;
}
.hero-text button:hover span {
  padding-right: 25px;
}
.hero-text button:hover span:after {
    opacity: 1;
    right: 0;
}

/*about*/
.about-area{
    background-color: lightgray;
}
