<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link rel="stylesheet" href="./css/style.css">
        <title>vietnamlens</title>
    </head>
    <body>
        <!-- <button hx-get="/hello-world" hx-swap="outerHTML">Hello world!</button> -->
        <!-- <h1>To Do App</h1>
        <div class="container">
            <ul id="todos-list" hx-get="/todos/list" hx-trigger="load">
                <li>Loading...</li>
            </ul>
        </div> -->
        <!-- nav sidebar -->
        <div id="mySidenav" class="sidenav">
            <a href="#" id="about">Về chúng tôi</a>
            <a href="#" id="projects">Bộ sưu tập</a>
            <a href="#" id="contact">Liên hệ</a>
            <a href="#" id="login">Đăng nhập</a>
        </div>
         <!-- end  nav sidebar -->
          
    </body>
    <footer>

    </footer>
</html>